{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ]
  ],
  "sourceMaps": "inline",
  "retainLines": true,
  "plugins": ["transform-object-rest-spread"]
}
